<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kimhy.open_source_project_naver_price_compare">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 단말기가 재부팅했을 때 작업을 계속하기 위해 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ItemListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GraphActivity"
            android:label="@string/frame_name_graph"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowMoreItemInfoActivity"
            android:label="@string/frame_name_item_show_more_item_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ItemSearchActivity"
            android:label="@string/frame_name_item_search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebView"
            android:label="@string/frame_name_item_search"
            android:screenOrientation="portrait" />


        <!--
         <activity
             android:name=".ItemListActivity"
             android:screenOrientation="portrait"
             android:label="@string/frame_name_item_list"/>
        -->

         <service
         android:name=".MyIntentService_kt"
         android:exported="true"></service>
    </application>

</manifest>